html, body {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --penListItemHover: rgba(0, 0, 0, 0.04);
  --penListItemCurrent: rgba(0, 0, 0, 0.08);
}

.list-item {
  cursor: pointer
}

.list-item--current {
  background-color: var(--penListItemCurrent);
}

.list-item:hover {
  background-color: var(--penListItemHover);
}

.hljs {
  border-radius: 2px;
}

.container {
  padding: .1rem 1.5rem;
  border-left-width: .5rem;
  border-left-style: solid;
  margin: 1rem 0;
}

.markdown-body .container p {
  margin: 0;
}
