html, body {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}
.hljs {
  border-radius: 2px;
}

.list-item {
  cursor: pointer
}

.container {
  padding: .1rem 1.5rem;
  border-left-width: .5rem;
  border-left-style: solid;
  margin: 1rem 0;
}

.markdown-body .container p {
  margin: 0;
}

.markdown-it-copy {
  position: relative;
}

.markdown-it-copy-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  background: transparent;
  border: none;
}

.markdown-it-copy-btn:active {
  opacity: .5;
}

.markdown-body-copy-text {
  width: 100%;
  height: 100%;
  line-height: 100%;
}
