.list-item {
  cursor: pointer
}

.list-item--current {
  background-color: rgba(0, 0, 0, 0.08);
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}


.bg-azure {
  background-color: azure;
}

.bg-snow {
  background-color: snow;
}

.bg-lightyellow {
  background-color: lightyellow;
}

.bg-honeydew {
  background-color: honeydew;
}

.bg-mintcream {
  background-color: mintcream;
}

.bg-aliceblue {
  background-color: aliceblue;
}

.bg-ghostwhite {
  background-color: ghostwhite;
}

.bg-lavenderblush {
  background-color: lavenderblush;
}
